services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cooking
      
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mazeh_server_test:
    container_name: mazeh_server_test
    build: .
    image : server-test
    command: sh -c "npx prisma migrate dev && npm run start:dev"
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/cooking
    depends_on:
      - postgres

volumes:
  pgdata:
