services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: cooking
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs-api
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql://postgres:1234@postgres:5432/cooking?schema=public"
      PORT: 3000
      JWT_KEY: "jwhfdkjsahfu34hrjksdfjkashfdkjhwqkejfb"
      NODE_ENV: production
    ports:
      - "3000:3000"
    # Remove volumes for production
    # For development only: - ./src:/app/src

volumes:
  postgres_data: